*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Arvo', serif;

   }
   body{
       background: white;
   }

header{
    background: cyan;
    height: 35vh; 
}

nav{
    margin-left: 70%; 
    
}

a{
    font-size: 20px; 
    margin-left: 5px; 
    text-decoration: none; 
    color: white; 
   
}

h1{
    text-align: center; 
    margin-top: 10vh; 
    color: white; 
    font-size: 42px; 
}


main{
    background: #F7F5F6; 
}

.card{
    height: 225px; 
    width: 200px; 
    text-align: center; 
    margin-top: 50px; 
    margin-left: 25vw; 
    }

    .blue{
        height: 20px; 
        width: 100%; 
        padding: 10px;
        margin: 20px;
        background: cyan;
        }
    .orange{
        height: 20px; 
        width: 100%; 
        padding: 10px;
        margin: 20px;
        background: orange;
        }    

    .teal{
        height: 20px; 
        width: 100%; 
        padding: 10px;
        margin: 20px;
        background: teal;
        }    
    
    h2{
        margin-top: -20px; 
        margin-bottom: 10px; 
    }

/* ----------------------------------------------- */
    @media only screen and (min-width: 700px){
        header{
            background: #2BCDC0; 
            height: 50vh; 
        }
        body, main{
            background: black; 
        }
        nav{
            margin-left: 80vw; 
        }

        a{
            font-size: 1.5em; 
            margin-left: 25px; 
        }

        a:hover{
            background:#F7F5F6;
            color: #2BCDC0;
        }

        h1{
            font-size: 5em; 
            letter-spacing: 2px; 
            margin-top:15vh; 
        }

        .card{
             
            width: 200px; 
            height: 325px; 
            margin: 0; 
            margin-top: 75px; 
            color: white;            
        }

        main{
            display: flex; 
            justify-content: space-evenly; 
        }

        h2{ margin-top: -10px; 
            font-size: 2em; 
            
        }





    }
